.AnalisePro-container{
   margin-bottom: 14px;
   color: rgba(0 , 0, 0, 0.7);
   box-shadow: 1px 3px 6px rgba(0 , 0, 0, 0.2);
   padding: 10px;
   border-top: solid;
   border-width: 2px;
   border-color: #3483fa;
   border-radius: 8px;  
}

.AnalisePro-container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0px;
    border-width: 3px;
}

.AnalisePro-container li > span{
    padding:  2px 4px;
    background-color: #fff;
    color: #3483fa;
    font-weight: bold;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #3483fa;
        
}

.container-home{
   margin-bottom: 12px;
   color: rgba(0 , 0, 0, 0.7);
   box-shadow: 2px 3px 6px rgba(0 , 0, 0, 0.2);
   padding: 10px;
   border-left: solid;
   border-width: 3px;
   border-color: none;
   border-radius: 8px;
}

ul.container-home {
    margin-top: -40px;
    background-color: #fff;
}

.iconMed{
        width: 24px;
        height: 24px;
}

.medalhas{
    margin-bottom: 12px;
    color: #3483fa;
    box-shadow: 2px 3px 6px rgba(0 , 0, 0, 0.2);
    padding: 10px;
    border-top: solid;
    border-width: 3px;
    border-color: none;
    border-radius: 8px;
    width: 242px;
}

#semMedalha{
    filter: hue-rotate(180deg);
}

.palavraChave{
    margin-bottom: 12px;
    color: #3483fa;
    box-shadow: 2px 3px 6px rgba(0 , 0, 0, 0.2);
    padding: 10px;
    border-top: solid;
    border-width: 3px;
    border-color: none;
    border-radius: 8px;
    width: 242px;
    border-bottom: aliceblue;
    border-inline: none;
}